@prefix: cg-dnd;
@marker-size: 20px;
@marker-z-index: 20;

.tooltip-marker {
  content: '';
  position: absolute;
  width: @marker-size;
  height: @marker-size;
  background-color: inherit;
  z-index: -1;
}

.@{prefix}-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 5px;
  background-color: #ff953a;
  color: #ffffff;
  box-sizing: border-box;
  z-index: @marker-z-index;

  &[data-tooltip-location="top"] {
    border-radius: 25px 25px 25px 0;

    &:before {
      .tooltip-marker;

      transform: skew(0, -30deg);
      left: 0;
      bottom: 0;
    }
  }
  &[data-tooltip-location="left"] {
    border-radius: 25px 0 25px 25px;

    &::before {
      .tooltip-marker;

      transform: skew(-30deg);
      right: 0;
      top: 0;
    }
  }
  &[data-tooltip-location="right"] {
    border-radius: 0 25px 25px 25px;

    &::before {
      .tooltip-marker;

      transform: skew(30deg);
      left: 0;
      top: 0;
    }
  }
  &[data-tooltip-location="bottom"] {
    border-radius: 0 25px 25px 25px;

    &::before {
      .tooltip-marker;

      transform: skew(0, 30deg);
      left: 0;
      top: 0;
    }
  }
}